.App {
  text-align: center;
}

.app__form{
  position: fixed;
  padding: 20px;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background-color: #e9e9eb;
  margin: 20px;

}
.app__formControl{
  display: flex !important;
  flex-direction: row !important;
}
.app__input{
  width: 90%;
  /* flex: 1; */
}
.app__iconButton{
  width: 10%;
  /* flex: 0; */
}
@media screen and (max-width: 768px) {
  .app__input {
    width: 70%;
  }

  .app__iconButton {
    width: 30%;
  }
}